<div class="breadcrumb-wrap style-one position-relative index-1">
    <img src="/img/breadcrumb/br-shape-left.png" alt="Breadcrumb Shape" class="br-shape-left position-absolute">
    <img src="img/breadcrumb/br-shape-right.png" alt="Breadcrumb Shape" class="br-shape-right position-absolute">
    <div class="container">
        <div class="br-content text-center">
            <h3 class="text-white">
                OHNE UMWEGE ZUM ZIEL
            </h3>
            <ul class="br-menu list-unstyle">
                <li><a routerLink="/index-2">
                    HOME
                </a></li>
                <li>
                    OHNE UMWEGE ZUM ZIEL
                </li>
            </ul>
        </div>
    </div>
</div>
