<app-top-header />

<app-navbar />

<app-page-banner />

<!-- Employers -->
<div class="container ptb-100">
    <div class="row">
        <div class="col-xl-8 pe-xxl-5">
            <div  *ngIf="currentPage === 1">

                <div class="employer-card style-two bg-haze d-flex flex-wrap align-items-center justify-content-between round-10 mb-20 transition" id="parag1">

                    <div class="employer-title-wrap d-flex flex-wrap align-items-center">
                        <div class="employer-logo bg-white d-flex flex-column align-items-center justify-content-center round-20">
                            <img src="img/employer/asana.svg" alt="Employre Logo">
                        </div>

                        <div class="employer-title">

                            <h3 class="fs-20 fw-semibold">
                                <h6>Sous titre (titre de site ERFAHRUNG, ERFAHRUNG, ERFAHRUNG ...)</h6>
                            </h3>

                        </div>

                    </div>
                    <div class="employer-logo bg-white d-flex flex-column align-items-center justify-content-center round-20">

                    </div>
                    <br />

                    <p >EXPERIENCE, EXPERIENCE, EXPERIENCE... Hans Rainer Vogel begann 1982 mit Headhunting. Bis 1994 arbeitete er als Berater oder Partner für Eurosearch Consultants (heute Deininger), die Berndtson-Gruppe (heute Odgers Berndtson) oder Ward Howell International (heute Signium International). Im Jahr 1994 trat er ins Outplacement ein und traf Dr. Daniel Detambel, der seit 1997 im Outplacement tätig war. Seit dem Jahr 2000 ist "GATA GmbH" verfügbar.
                         Im Laufe von fast 20 Jahren haben wir im Top-Management über 1.500 Beratungsprojekte durchgeführt.</p>
                </div>

                <div class="employer-card style-two bg-haze d-flex flex-wrap align-items-center justify-content-between round-10 mb-20 transition" id="parag1">
                    <div class="employer-title-wrap d-flex flex-wrap align-items-center">
                    </div>
                    <div class="employer-logo bg-white d-flex flex-column align-items-center justify-content-center round-20">

                    </div>
                    <br />

                    <p>Um Ihnen bei der Entscheidung zu helfen, ob wir die richtigen Berater für Sie sein könnten, haben wir Ihnen auf den folgenden Seiten Unternehmen zusammengestellt, für die mindestens einer unserer Kunden verantwortlich war oder aktuell noch tätig ist. Diese Liste ist nicht vollständig. Es ist üblich, dass mehrere unserer Kunden in größeren Unternehmen tätig waren oder sind. Dies liegt hauptsächlich a der Größe der Unternehmen.</p>
                </div>

            </div>


            <div *ngIf="currentPage === 2">
                <h6 style="color:dark;padding-left:50%;"> "Es gibt nur noch wenige Ausschreibungen für Stellen ab 160.000 EUR." </h6>
                <div class="employer-card style-two bg-haze d-flex flex-wrap align-items-center justify-content-between round-10 mb-20 transition" id="parag3">
                    <div class="employer-title-wrap d-flex flex-wrap align-items-center">

                    </div>
                    <div class="employer-logo bg-white d-flex flex-column align-items-center justify-content-center round-20">

                    </div>
                    <br />

                    <p>Weitere Unternehmen wie AB Enzymes GmbH, ACTEGA GmbH, A. Friedr. Flender AG, A. Lange & Söhne, A. Racke GmbH & Co. KG, ACPS Automotive GmbH, AGCO Corp., aichele GROUP GmbH & Co. KG, Air Liquide Global E&C Solutions, AKKA Technologies SE, Alape GmbH, Aldiana GmbH, ALDO Group, Alte Leipziger – Hallesche VVaG, Alte Leipziger Versicherung AG, ALUP-Kompressoren GmbH, Anikon GmbH, artfleur GmbH, ASE Americas Inc.Weitere Unternehmen wie die Managementgesellschaft mbH & Co. KG, Abitere GmbH, ABP Induction Systems GmbH, ABUS Security-Center GmbH & Co. KG, Accenture GmbH, Accompany (Europe) BV, Accor Deutschland GmbH, Accor Hotellerie Deutschland GmbH,
                         ACIDA GmbH, ACO Passavant GmbH, Actebis Peacock GmbH, Acterna Eningen GmbH, ADAC e.V., Adam Opel GmbH, ADCO Umweltdienste Holding GmbH, Add Vision GmbH, Adia Zeitarbeit GmbH, Adidas AG, Adler Modemärkte GmbH, Adler-Werk Lack Die Unternehmen afendis payment AG, AFG Arbonia-Forster-Holding AG, AGC Interpane Glas Industrie AG, Agere Systems Deutschland GmbH & Co. KG, Agila Software, Agoform GmbH, agrimeat GmbH, Air Liquide Deutschland GmbH, Airbus Group, AIXTRON SE, aixvox GmbH, AKO-Werke, AKSYS GmbH, Aktimed GmbH, Akzo Nobel Farben, Alberdingk Boley GmbH, Albert Westermann BV, Albert Ziegler GmbH & Co. KG, ALBA Europe Holding plc & Co. KG, ALBA Süd GmbH.</p>
                </div>

            </div>


            <div *ngIf="currentPage === 3">
                <div class="employer-card style-two bg-haze d-flex flex-wrap align-items-center justify-content-between round-10 mb-20 transition" id="parag4">
                    <div class="employer-title-wrap d-flex flex-wrap align-items-center">

                    </div>
                    <div class="employer-logo bg-white d-flex flex-column align-items-center justify-content-center round-20">

                    </div>
                    <br />

                    <p>Die Unternehmen Allianz Global Investors AG, AlliedSignal Automotive, Allmess GmbH, Allweiler AG, Almet Metall-Halbzeug-Vertriebs-GmbH, ALNO AG, Alois F. Dornbracht GmbH & Co. KG, ALOKA Holding Europe AG, alphyra Deutschland GmbH, Alphaform AG, Alpine AG, Alpirsbacher Klosterbräu Glauner GmbH & Co. KG, alsecco Bauchemische Produkte GmbH & Co. KG, Alsen Breitenburg AG, Also Actebis GmbH, ALSTOM Energietechnik GmbH, Alstom Power GmbH, Als Amazon Web Services, Adecco Personaldienstleistungen GmbH, Air Liquide S.A., AKW A+V Gruppe, Alix Partners LLP. Arcandor, AGARQIS, Asta Medica GmbH, Astellas Pharma GmbH, ATES Medica Srl, Autotest Gruppe, Avigo GmbH, Alt & Kelber Wohnungsprivatisierung GmbH, Altana Chemie AG, ALTEA Hotel & Residenz, Alstom Power GmbH, Alstom Switzerland Ltd., Altis Semiconductor S.N.C.,
                         ALTRAN GmbH & Co. KG, Alufinish GmbH & Co. KG, Alunova Recycling GmbH, ALVAREZ & MARSAL GmbH, Amazon.com, amb</p>
                </div>

            </div>







            <ul class="page-nav d-flex align-items-center justify-content-center list-unstyle mt-30">
                <li>
                    <a routerLink="." class="d-flex flex-column align-items-center justify-content-center rounded-circle fw-semibold text-title">
                        <i class="ri-arrow-left-line"></i>
                    </a>
                </li>
                <li>
                    <a (click)="showPage(1)" class="d-flex flex-column align-items-center justify-content-center rounded-circle fw-semibold text-title">
                        1
                    </a>
                </li>
                <li>
                    <a (click)="showPage(2)" class=" active d-flex flex-column align-items-center justify-content-center rounded-circle fw-semibold text-title">
                        2
                    </a>
                </li>
                <li>
                    <a (click)="showPage(3)" class="d-flex flex-column align-items-center justify-content-center rounded-circle fw-semibold text-title">
                        3
                    </a>
                </li>
                <li>
                    <a routerLink="." class="d-flex flex-column align-items-center justify-content-center rounded-circle fw-semibold text-title">
                        <i class="ri-arrow-right-line"></i>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>
<!-- End Employers -->

<app-footer />

<app-back-to-top />
