.container {
    background: {
        image: url(../../../../public/img/hero/hero-bg.png);
        color: rgba(255, 255, 255, 0.6);

        position: bottom center;
        repeat: no-repeat;
        size: cover;
    };
   // background-color:black;
    //box-shadow: 0 2px 34px rgba(14, 72, 43, 0.1);
   // height: 80px;
    //border-radius: 20px;
    h2 {
        line-height: 56px;
        margin-bottom: 6px;
        color:  black;
        font: {
            family: var(--secondaryFont);
            size: 56px;
        };
    }
}

.brand-wrap {
    background-color: #18251B;
    padding: 75px 0;
}
.brand-wrapper {
    background-color: #1E2830;

    .brand-slider {
        margin: 0 20px;

    }
}
.brand-logo {
    text-align: right;

    img {
        display: inline !important;
        width: auto !important;
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .brand-wrapper {
        padding: {
            left: 20px;
            right: 20px;
        }
        .brand-slider {
            margin: 0;
        }

    }

}

/* Min width 1400px */
@media only screen and (min-width: 1400px) {

    .brand-wrapper {
        .brand-slider {
            margin: 0 92px;
        }
    }

}
