<div class="blog-card">
    <div class="blog-card__image">
      <img src="img/blog/blog-bar.jpg" alt="Hotel Nassauer Hof">
      
    </div>
    <div class="blog-card__content">
      <h2 class="blog-title">Willkommen in Gata GmbH</h2>
      <p class="blog-description">
        Gut denken, gut sprechen, gut handeln" – diese Worte Zarathustras sind zeitlos und erinnern uns daran, dass Erfolg auf einem Fundament aus klarem Denken, überzeugender Kommunikation und konkretem Handeln beruht.
        Für hochqualifizierte Fachkräfte und erfahrene Führungskräfte, die eine berufliche Neuorientierung anstreben, ist Vertrauen von entscheidender Bedeutung. Unser Ziel ist es, sicherzustellen, dass unsere Mandanten in vertraulichen Top-Positionen erfolgreich platziert werden, die diskret vergeben werden und nicht öffentlich ausgeschrieben sind.

      </p>
      <button class="read-more">mehr lesen  <i class="bi bi-arrow-right"></i></button>
    </div>
  </div>
  