<div class="blog-area">
    <div class="card">
      <div class="card-content">
        <div class="content-wrapper">
          <div class="text-content">
          
            
            <p class="description">
              "Gut denken, gut sprechen, gut handeln" – diese Worte Zarathustras sind zeitlos und 
              erinnern uns daran, dass Erfolg auf einem Fundament aus klarem Denken, 
              überzeugender Kommunikation und konkretem Handeln beruht.
            </p>
            
            <p class="description">
              Für hochqualifizierte Fachkräfte und erfahrene Führungskräfte, die eine berufliche 
              Neuorientierung anstreben, ist Vertrauen von entscheidender Bedeutung. Unser Ziel ist es, 
              sicherzustellen, dass unsere Mandanten in vertraulichen Top-Positionen erfolgreich 
              platziert werden.
            </p>
            
            <button class="read-more">mehr lesen  <i class="bi bi-arrow-right"></i></button>
          </div>
          
          <div class="image-content">
            <div class="image-wrapper">
              <img src="img/mera.jpg" alt="Professional portrait">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>