<app-top-header />
<app-navbar />


<app-banner />


<app-blog-card />
<!-- blog-card.component.html -->


<!--<app-categories />-->



<!--<app-featured-jobs />-->






<!--
<app-why-join-us />

<app-pricing />



<app-faq />

<app-cta />-->
<div class="page-wrapper">
    <div class="hero-banner"> 
      <div class="hero-content">
        <div class="quote-container">
          <div class="quote-top">"</div>
          <div class="quote-text-3">Was wir tun</div>
          <div class="quote-text">Das Bewerben für Top-Positionen ist in erster Linie ein Vertriebsprozess - alles andere ist zweitrangig.</div>
          <div class="quote-bottom">"</div>
        </div>
      </div>
    </div>
  </div>
  <app-blog-bar/>

  <div class="page-wrapper">
    <div class="hero-banner">
      <div class="hero-content">
        <div class="quote-container1">
          <div class="quote-text1">Geschäftsführung</div>
        </div>
      </div>
    </div>
  
    <div class="team-cards-container">
      <div class="team-card1">
        <img src="img/blog/mera.jpg" alt="Geschäftsführerin">
        <div class="team-info">
          <h3 class="team-title">Geschäftsführerin</h3>
          <p>Frau H. Othman</p>
        </div>
      </div>
  
      <div class="team-card1">
        <img src="img/blog/si.jpg" alt="Integrationsmanager">
        <div class="team-info">
          <h3 class="team-title">Integrationsmanager</h3>
          <p>Herr Z. Sellemi</p>
        </div>
      </div>
    </div>
  </div>
  
<app-footer />

<app-back-to-top />
