<app-top-header />
<app-navbar />
<div class="page-wrapper">
<div class="hero-banner"> 
  <div class="hero-content">
    <div class="br-content text-center">
      <h3 class="text-white fs-40">
        OHNE UMWEGE ZUM ZIEL
    </h3>
        <ul>
            <li><a routerLink="/home" class="home-link">
              HOME >>
          </a>
            
       
          <span class="home-1"> OHNE UMWEGE ZUM ZIEL </span>  
            </li>
        </ul>
    </div>
</div>
</div>
</div>
<!-- Section contenu divisé -->
<div class="content-section">
  <div class="container">
    <div class="content-wrapper">
      <!-- Colonne gauche -->
      <div class="content-column">
        <h6>Das Bewerben für Top-Positionen ist in erster Linie ein Vertriebsprozess - alles andere ist zweitrangig.</h6>
        <p>
          Deshalb ist es entscheidend, rasch Kontakt zu einer ausreichenden Anzahl von potenziellen neuen Arbeitgebern herzustellen, die Bedarf an den Qualifikationen und Fähigkeiten des Bewerbers haben. Aus diesem Grund ermitteln wir für unsere Kunden:
          In welchen Unternehmen besteht ein Bedarf an den Fähigkeiten und Qualifikationen, die der Bewerber anzubieten hat?
      </p>
      </div>
      
      <!-- Séparateur vertical -->
      <div class="vertical-divider"></div>
      
      <!-- Colonne droite -->
      <div class="content-column">    
     
          <h6>FEHLLEITUNGEN UND (AUS UNSERER PERSPEKTIVE) UNNÖTIGER ZEITAUFWAND!</h6>
          <p>Wie hoch ist die Wahrscheinlichkeit, dass in den kommenden Monaten eine Stelle entsteht oder neu besetzt wird, die meinen Qualifikationen und Interessen entspricht? Um bei der Besetzung dieser Position berücksichtigt zu werden, welche Kontaktpersonen in diesem Unternehmen oder in den Gremien (Aufsichtsrat, Beirat, Verwaltungsrat, Gesellschafterkreis usw.) muss ich ansprechen? Weitere Informationen zum Thema finden Sie unter: Forschung: Finden von latenten Vakanzen.
            Unsere Überzeugung ist, dass es für Top-Manager, die eine neue berufliche Position suchen, nicht sinnvoll ist, sich von einem Outplacement-Berater auf die „Psychocouch“ legen zu lassen. Man ist nicht krank, sondern nur auf der Suche nach einer neuen beruflichen Herausforderung.
            Wir halten es auch für unzureichend, Zeit in Workshops mit anderen Top-Managern zu investieren, die sich in ähnlichen beruflichen Situationen befinden und nach ähnlichen Positionen suchen.
            Unsere Überzeugung ist, dass es nicht ratsam ist, sich von ehemaligen Top-Managern beraten zu lassen, die in der Vergangenheit selbst Schwierigkeiten hatten, eine neue Führungsposition zu finden und daher auf weniger bezahlte Beratung zurückgegriffen haben. Diese Berater helfen nun anderen Top-Managern, den Übergang zu einer neuen Top-Position erfolgreich zu gestalten.

            Wir begrenzen die Treffen mit unseren Kunden auf nur drei Termine, im Gegensatz zu wöchentlichen Beratungsterminen und Workshops. Durch diese effektive Methode können wir Kunden aus der gesamten D-A-CH-Region betreuen, unabhängig von der Entfernung. Während das traditionelle Outplacement eher auf Beratung und die Förderung von "Hilfe zur Selbsthilfe" setzt, bieten wir Markt-Knowhow, Forschung und Vertrieb an.

            Ein Personalvorstand aus dem DAX-30-Bereich, der unsere Dienstleistungen genutzt hat, äußerte treffend, dass er keine Unterstützung und Aufmerksamkeit von einem Outplacement-Berater benötigt, sondern einen schnellen Zugang zu den Entscheidungsträgern in den Unternehmen benötigt, die derzeit einen wahren Bedarf für seine Fähigkeiten haben.
            Es ist schwierig, unsere Leistung treffender zu beschreiben.
            Weitere Informationen finden Sie unter:
        </p>

        <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>  
      
      
     


        
      
      </div>
    </div>
  </div>
</div>

<!-- Bannière avec titre sur image de fond -->
<div class="page-wrapper">
  <div class="hero-banner"> 
    <div class="hero-content">
      <div class="quote-container">
        <div class="quote-top">"</div>
        <div class="quote-text">Die Entfernung unserer Kunden zu uns spielt bei den drei Vor-Ort-Beratungsterminen keine Rolle</div>
        <div class="quote-bottom">"</div>
      </div>
    </div>
  </div>
</div>


<!-- Section contenu divisé -->
<div class="content-section1">
  <div class="container">
    <div class="content-wrapper1">
      <!-- Colonne gauche -->
      <div class="content-column1">
        <h6>DIE ANFORDERUNGEN UNSERER KUNDEN SIND SEHR WICHTIG</h6>
        <p>Eine Vorauswahl der Kunden ist aus Umsatzsicht weder sinnvoll noch erforderlich, und Beratung kann grundsätzlich a jeden verkauft werden. Selbst wenn diese Anbieter mittlerweile Begriffe wie Jobsearch oder Inverses Headhunting verwenden, haben wir noch nie von einem Interessenten gehört, der im klassischen Outplacement oder Newplacement abgelehnt wurde.

            Unsere Kunden erwarten jedoch nicht nur Beratung, sondern auch viele Einladungen zu Vorstellungsgesprächen und viele attraktive Vertragsangebote, aus denen sie die besten auswählen können. Die Qualifikationen unserer Kunden müssen geeignet sein, damit dies möglich ist. Sie müssen „attraktiv“ genug sein, um die begrenzten Top-Positionen für sich zu gewinnen.
            Wir kämpfen weiterhin um die begrenzten Top-Positionen. Dadurch müssen wir täglich viele Interessenten, die uns um eine Zusammenarbeit bitten, um Verständnis bitten, dass wir für sie nichts tun können und sie a traditionelle Outplacement-Dienstleister verweisen müssen. Aus mehr als 3.300 Anträgen haben wir im Jahr 2021 185 Projekte angenommen und umgesetzt.

        </p>
      </div>
      
      <!-- Séparateur vertical -->
      <div class="vertical-divider1"></div>
      
      <!-- Colonne droite -->
      <div class="content-column1">
        <h6>DIE DINGE MÜSSEN SCHNELL ERLEDIGT WERDEN!</h6>
        <p>DIE DINGE MÜSSEN SCHNELL ERLEDIGT WERDEN!
            Wir setzen uns in Bewegung, weil die Attraktivität eines Managers mit jedem weiteren Monat der Entlassung oder bei Vertragsende erheblich abnimmt. Unsere Kunden sind innerhalb von fünf Wochen unserer Zusammenarbeit auf dem Markt präsent. Zurzeit sind ihre Bewerbungsunterlagen bei den Entscheidungsträgern in den entsprechenden Unternehmen und es werden Vorstellungsgespräche geführt.
            Außerdem sind unsere Kunden häufig zu Vorstellungsgesprächen eingeladen, was sicherlich nicht nur auf ihre Qualifikation zurückzuführen ist. Wir setzen nicht nur auf schriftliche Dokumente. Wir verwenden einen Managerporträtfilm: „WIE KANN ICH MICH VON ANDEREN TOP-MANAGERN ABHEBEN?“, um dazu beizutragen…………

        </p>
      </div>
    </div>
  </div>
  
</div>

<app-footer />
<app-back-to-top />